<script>
    $(function(){
        $(".jet_message li").click(function(){
            var index = $(this).index();
            $.ajax({
                type    : 'post',
                url     : '/notification/setread',
                data    : {
                        id  : $(this).attr("data-id")
                },
                success : function (data){
                    data = $.parseJSON(data);
                    if(data.has){
                        alert(data.message);
                        $(".jet_message li").eq(index).remove();    //去掉消息的列
                        $(".notNum").html(parseInt($(".notNum").html()) - 1);

                    }else{
                        alert(data.message);
                    }
                },
                error   : function(){
                    alert('连接服务器失败！');
                }
            })
        });

        //退出操作
        $(".logout").click(function(){
            JET.logout();
        });


        //每4秒polling通知信息
        setInterval(function(){
            $.ajax({
                type    : 'post',
                url     : '/agent/notification/ajaxGet',
                data    : {
                    id  : $(this).attr("data-id")
                },
                dataType : 'json',
                success : function (data){
                    if(data.has){
                        console.log(data.msg);
                        $(".notNum").html(data.notNum);
                        //载入html,data.not是一个二维数组
                        $(".message-li").remove();
                        for(var i = 0;i<data.not.length;i++){
                            $(".jet_message").append(
                                    '<li data-id="'+i+'" class="message-li">'+
                                        '<a href="#">'+
                                        '<img src="{{__PUBLIC__}}/assets/ace/avatars/avatar.png" class="msg-photo" alt="Alexs Avatar" />'+
                                        '<span class="msg-body">'+
                                            '<span class="msg-title"><span class="blue">'+ data.not[i].sender +'</span>'+ data.not[i].content+
                                        '</span>'+
                                        '</span>'+
                                        '</a>'+
                                    '</li>'
                            );
                        }

                    }else{
                       console.log('no new message');
                        $(".notNum").html(0);
                    }
                },
                error   : function(){
                    console.log('尝试接收通知失败');
                }
            })
        },4000);

    })
</script>