<!-- basic scripts -->

<!--[if !IE]> -->

<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="{{$front}}/admin/assets/js/bootstrap.min.js"></script>
<script src="{{$front}}/admin/assets/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<!-- ace scripts -->

<script src="{{$front}}/admin/assets/js/ace-elements.min.js"></script>
<script src="{{$front}}/admin/assets/js/ace.min.js"></script>

<!-- inline scripts related to this page -->

<script>
    $(function(){
        $(".jet_message li").click(function(){
            //alert('hello！');
            $.ajax({
                type    : 'post',
                url     : '/notification/setread',
                data    : {
                        id  : $(this).attr("data-id")
                },
                success : function (data){
                    data = $.parseJSON(data);
                    if(data.has){
                        alert(data.message);

                    }else{
                        alert(data.message);
                    }
                },
                error   : function(){
                    alert('连接服务器失败！');
                }
            })
        })

        //每4秒polling通知信息
        setInterval(function(){
            $.ajax({
                type    : 'post',
                url     : '/notification/get',
                data    : {
                    id  : $(this).attr("data-id")
                },
                success : function (data){
                    data = $.parseJSON(data);
                    if(data.has){
                        alert(data.message);

                    }else{
                        alert(data.message);
                    }
                },
                error   : function(){
                    alert('连接服务器失败！');
                }
            })
        },4000);

    })
</script>