<meta charset="utf-8" />

<meta name="keywords" content="{{block name = keywords}}jetstar博客{{/block}}"/>
<meta name="description" content="{{block name = description}}jetstar博客{{/block}}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="{{$front}}/admin/assets/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{{$front}}/admin/assets/css/font-awesome.min.css" />
<link rel="stylesheet" href="{{__STATIC__}}/css/admin.css" />
<link rel="stylesheet" href="{{__STATIC__}}/css/common.css" />
<!--//谷歌字体，请按需要启动-->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
<link rel="stylesheet" href="{{$front}}/admin/assets/css/ace.min.css" />
<link rel="stylesheet" href="{{$front}}/admin/assets/css/ace-rtl.min.css" />
<link rel="stylesheet" href="{{$front}}/admin/assets/css/ace-skins.min.css" />

<link href="{{__STATIC__}}/images/favicon.ico" type="image/x-icon" rel="icon" />

<script src="{{$front}}/admin/assets/js/ace-extra.min.js"></script>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script src="{{$front}}/admin/assets/js/bootstrap.min.js"></script>
<script src="{{$front}}/admin/assets/js/typeahead-bs2.min.js"></script>
<script src="{{$front}}/admin/assets/js/ace-elements.min.js"></script>
<script src="{{$front}}/admin/assets/js/ace.min.js"></script>

<script src = "{{__PUBLIC__}}/static/js/JET.js"></script>

