<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css.css">
    <title></title>
</head>
<body>
    <div class="content">
    <h2>热门回答</h2>
   <div class="q-slice">
       <h3>科学·技术</h3>
       <ol>
           <li class="firstli">
               <div class="">
                   <a href="#"><img src="./images/pic-sample-155x90.png " alt=""></a>
                   <div class="title-link"><a href="#">MH370或经历僵尸飞行，什么是僵尸飞行</a></div>
                   <div class="summary">“僵尸飞行”是指本来应有人驾驶的飞机因为某种原因...<a href="#">详细</a></div>
               </div>
           </li>
           <li><i class="dot"></i><a  href="#">光的实质是什么?</a></li>
           <li><i class="dot"></i><a href="#">颜色只是我们大脑的一种幻觉吗？</a></li>
           <li><i class="dot"></i><a href="#">中国油气，矿业公司的评估和勘探开采水平如何？</a></li>
           <li><i class="dot"></i><a href="#">黄金分割法和二分法哪个快？</a></li>
       </ol>
   </div>
        <div class="q-slice">
            <h3>科学·技术</h3>
            <ol>
                <li class="firstli">
                    <div class="">
                        <a href="#"><img src="./images/pic-sample-155x90.png " alt=""></a>
                        <div class="title-link"><a href="#">MH370或经历僵尸飞行，什么是僵尸飞行</a></div>
                        <div class="summary">“僵尸飞行”是指本来应有人驾驶的飞机因为某种原因...<a href="#">详细</a></div>
                    </div>
                </li>
                <li><i class="dot"></i><a  href="#">光的实质是什么?</a></li>
                <li><i class="dot"></i><a href="#">颜色只是我们大脑的一种幻觉吗？</a></li>
                <li><i class="dot"></i><a href="#">中国油气，矿业公司的评估和勘探开采水平如何？</a></li>
                <li><i class="dot"></i><a href="#">黄金分割法和二分法哪个快？</a></li>
            </ol>
        </div>
        <div class="q-slice">
            <h3>科学·技术</h3>
            <ol>
                <li class="firstli">
                    <div class="">
                        <a href="#"><img src="./images/pic-sample-155x90.png " alt=""></a>
                        <div class="title-link"><a href="#">MH370或经历僵尸飞行，什么是僵尸飞行</a></div>
                        <div class="summary">“僵尸飞行”是指本来应有人驾驶的飞机因为某种原因...<a href="#">详细</a></div>
                    </div>
                </li>
                <li><i class="dot"></i><a  href="#">光的实质是什么?</a></li>
                <li><i class="dot"></i><a href="#">颜色只是我们大脑的一种幻觉吗？</a></li>
                <li><i class="dot"></i><a href="#">中国油气，矿业公司的评估和勘探开采水平如何？</a></li>
                <li><i class="dot"></i><a href="#">黄金分割法和二分法哪个快？</a></li>
            </ol>
        </div>
        <div class="q-slice">
            <h3>科学·技术</h3>
            <ol>
                <li class="firstli">
                    <div class="">
                        <a href="#"><img src="./images/pic-sample-155x90.png " alt=""></a>
                        <div class="title-link"><a href="#">MH370或经历僵尸飞行，什么是僵尸飞行</a></div>
                        <div class="summary">“僵尸飞行”是指本来应有人驾驶的飞机因为某种原因...<a href="#">详细</a></div>
                    </div>
                </li>
                <li><i class="dot"></i><a  href="#">光的实质是什么?</a></li>
                <li><i class="dot"></i><a href="#">颜色只是我们大脑的一种幻觉吗？</a></li>
                <li><i class="dot"></i><a href="#">中国油气，矿业公司的评估和勘探开采水平如何？</a></li>
                <li><i class="dot"></i><a href="#">黄金分割法和二分法哪个快？</a></li>
            </ol>
        </div>


    </div><!--content end-->


</body>
</html>