#frm-post .page-header h1 input{
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    width: 100%;
}
input[name='post[summary]']{
    width: 100%;
}

/*publish editor*/

.wysiwyg-editor{
    min-height: 470px;
}
.widget-toolbox{
    position: fixed;
    bottom: 10px;
    left: 50%;
}
table tr td{
    min-width: 100px;
}