.post-wrap{
    border-bottom: 1px dashed #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
}
#powerby_sohu{
    display: none !important;
}

.comment-list ol{
    margin: 20px 20px;
}
.comment-list  li{
    min-height: 75px;
    padding: 10px 0;
    border-bottom: 1px dashed #ddd;
}
.console{
    width: 100%;
    min-height: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #eee;
}

