<html>
	<head>
		<title>首页 ,你好 {$user}</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{$front_path}/static/css/common.css">
	</head>
	<body>
		<header>
			<img src="{$front_path}/static/images/header.jpg" alt="">
		</header>
		<div class="sidebar">
			<div>

				<ul>
					<li>
						{if $status== 1}
						<a href="/account/logout">退出</a>
						{else}
						<a href="/account/login">登录</a>
						{/if}
					</li>
					<li>
						<a href="/post/publish">发布文章</a>
					</li>

					<h7>文章列表</h7>
					<ul>{foreach from=$posts item=p key=newsId name=p}
						<li>{$p.title}</li>
						{/foreach}
					</ul>
				</ul>

			</div>


		</div>


		<br>

	</body>
</html>