<!--  置顶图标 -->
<a id="goto-top" style="display: none;"></a>

<div class="share-foot">
    <div class="share-more">
        <a href="./jetstar _ jetstar_files/jetstar _ jetstar.html">jetstar</a> |
        Created At 2014 By William Clinton |
        Contact Me: 1619488373@qq.com |
        蜀ICP备14002619号 |
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F1b4a31ca21a3edb942489a8c3d360549' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script src="{{__TEMPLATE__}}/static/js/h.js" type="text/javascript"></script>
        <a href="http://tongji.baidu.com/hm-web/welcome/ico?s=1b4a31ca21a3edb942489a8c3d360549" target="_blank"><img
                border="0" src="{{__TEMPLATE__}}/static/images/21.gif" width="20" height="20"></a> <!-- | -->
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1253161039'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1253161039%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
        <span id="cnzz_stat_icon_1253161039"><a href="http://www.cnzz.com/stat/website.php?web_id=1253161039"
                                                target="_blank" title="站长统计"><img border="0" hspace="0" vspace="0"
                                                                                  src="{{__TEMPLATE__}}/static/images/pic.gif"></a></span>
        <script src="{{__TEMPLATE__}}/static/images/z_stat.php" type="text/javascript"></script>
        <script src="{{__TEMPLATE__}}/static/images/core.php" charset="utf-8" type="text/javascript"></script>

    </div>
</div>



<script type="text/javascript" src="{{__TEMPLATE__}}/static/js/prettify.js"></script>
<script type="text/javascript" src="{{__TEMPLATE__}}/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{__TEMPLATE__}}/static/js/clincommon.js"></script>
<script type="text/javascript" src="{{__TEMPLATE__}}/static/js/home.js"></script>
