{{extends file = "../layout.html"}}

{{block name = location}}
<ul class="breadcrumb">
    <li>
        <i class="icon-home home-icon"></i>
        <a href="/">首页</a>
    </li>
    <li>
        <a href="/">{{$user}}的个人主页</a>
    </li>
</ul><!-- .breadcrumb -->
{{/block}}

{{block name = content}}
{{foreach from = $posts item = it}}
<div class="post-wrap">
    <h2><a href="/post/{{$it.id}}">{{$it.title}}</a></h2>
    <div class="content">
        <p class="summary">{{$it.summary}}</p>
        <!--<div class="content-inner">
            {{$it.content}}
        </div>-->
    </div>
</div>
{{/foreach}}
{{/block}}